

div{
    display: flex;
    justify-content: center;
}
#main{
    
    height:min-content;
    width: min-content;
}
.row{
    display: flex;
    flex-direction: column;

}
.column{
    display: flex;
    width: 20px;
    height: 20px;
    
}

.btn{
    text-align: center;
    width: 120px;
    height: 25px;
    color:#000;
    background-color: palevioletred;
    border-radius: 3px;
    border: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}


